.resultBox {
    max-width: 700px;
    margin: auto;
    width: 30%;
    padding: 10px;
    border: solid black 2px;
}

h1 {
    text-align: center;
}

p {
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    max-width: 700px;
}

.FormContainer {
    text-align: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.fetchOutput {
    padding-left: 10px;
    text-align: center;
}